<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Survey</title>
</head>
<body>
    <h1>Enter the following info:</h1>
    <form action='/surveys/process' method='post'>   
        {% csrf_token %}
        Your Name: <input type='text' name='name'>           
        Dojo Location: <select name="location">
            <option value="DC">"DC"</option>    
            <option value="Seattle">"Seattle"</option>
        </select>      
        Favorite Language: <select name="language" id="">
            <option value="Python">"Python"</option>
            <option value="JavaScript">"JavaScript"</option>
        </select>
        "Comment (less than 120 charecters)" <input type="text" name="comment">       

        <input type='submit' value='Send'>       
    </form>

</body>
</html>