<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create New User</title>
</head>
<body>
    <h1>Add a new user...</h1>
    <form action="/users/add" method="post">
        {% csrf_token %}
        <label for="f_name">First Name:</label>    
        <input type="text" name="f_name">
        <label for="l_name">Last Name:</label>    
        <input type="text" name="l_name">
        <label for="email">Email:</label>    
        <input type="text" name="email">
        <input type="submit" value="Create">
    </form>
    <a href="/users">Go Back</a>
</body>
</html>