<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit User</title>
</head>
<body>
    <h1>Edit User {{ user.id }}</h1>
    <h4>Last Updated: {{ user.updated_at }}</h4>
    <form action="/users/{{ user.id }}/update" method="post">
        {% csrf_token %}
        <label for="f_name">First Name:</label>    
        <input type="text" name="f_name" value = "{{ user.first_name }}">
        <label for="l_name">Last Name:</label>    
        <input type="text" name="l_name" value = "{{ user.last_name }}">
        <label for="email">Email:</label>    
        <input type="text" name="email" value = "{{ user.email }}">
        <input type="submit" value="Update">
    </form>
    <a href="/users">Go Back</a>
    
</body>
</html>