<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Thank you for shopping at Amadon</title>
</head>
<body>
    <h1>Thank you for your business!</h1>

    <p>We charged your credit card ${{ subtotal }}</p>

    <p>You have ordered {{ item_count }} items so far and spent ${{ grand_total }}</p>

<a href="/">Go Back</a>    
    
</body>
</html>