<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>What time is it?</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'display/css/style.css' %}" media="screen" title="no title"  charset="utf-8">
</head>
<body>
    <div id="header">
            <h1>What is the current time?</h1>
    </div>
    <div id="body">
        <ul>
            <li><h1>The current time is:</h1></li>
            <li>{{ time }}</li>
        </ul>
        
    </div>
</body>
</html>